.main {
  padding: 20px 20px 60px;
  max-width: 680px;
  margin: 0 auto;
}

.hr {
  border: none;
  border-bottom: 1px solid #efefef;
  margin: 3em auto;
}

.currentTime {
  font-size: 1.5rem;
  color: #333;
  text-align: center;
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}
